<div class="add-product">
    <h2 style="text-align: center;">Add new product</h2>
    <p class="success-p">{{addProductMsg}}</p>
    <form class="common-form" [formGroup]="addProductForm" (submit)="addNewProduct()">
        <input class="form-input" type="text" formControlName="name" placeholder="Enter product name." required>
        <input class="form-input" type="number" formControlName="price" placeholder="Enter product price." required>
        <input class="form-input" type="text" formControlName="color" placeholder="Enter product color." required>
        <textarea class="form-input" type="text" formControlName="description" placeholder="Enter product description." required></textarea>
        <input class="form-input" type="text" formControlName="image" placeholder="Enter product image URL." required>
        <button type="submit" class="form-button" class="btn btn-primary">Submit</button>
    </form>
</div>