
<div class="cart-page">
    <h1>
        Cart Page
    </h1>
    <div class="row">
    <div class="col-sm-8 details">
        <ul *ngFor="let cart of cartData">
            <li>
                <img src="{{cart.image}}" alt="">
            </li>
            <li>
                <span> {{cart.name}}</span>
            </li>
            <li>
                <span> Price : {{(cart.price) | currency: 'EUR'}}</span>
            </li>
            <li>
                <span> Quantity : {{cart.quantity}}</span>
            </li>
            <li >
               <button class="form-button" (click)="removeFromCart(cart.id)">Remove</button>
            </li>
        </ul>
        
    </div>
    <div class="col-sm-4 summary">
    <h3>Summary</h3>
    <ul>
        <li> <span>Amount:</span><span>{{(priceSummary.price).toFixed(2) | currency: 'EUR'}}</span></li>        
        <li> <span>Delivery charge:</span><span>{{(priceSummary.deliveryCharge).toFixed(2) | currency: 'EUR'}}</span></li>        
        <li> <span><h6>Total</h6></span> <span><h6>{{(priceSummary.total).toFixed(2) | currency:'EUR'}}</h6></span></li>
        <button (click)="checkout()" class="btn btn-success">Checkout</button>
    </ul>
    </div>
    </div>
    </div>