<div class="my-orders">
    <h1>My Orders</h1>
    <div class="row">
        <div class="col-sm-4">
            <span>Order Id</span>
        </div>
        <div class="col-sm-4">
            <span>Price</span>
        </div>
        <div class="col-sm-4">
            <span>Status</span>
        </div>
    </div>
    <div class="row" *ngFor="let order of orderData">
        <div class="col-sm-4">
            <span>#{{order.id}}</span>
        </div>
        <div class="col-sm-4">
            <span>{{(order.totalPayment) | currency: 'EUR'}}</span>
        </div>
        <div class="col-sm-4">
            <span>In Progress</span>
        </div>
    </div>
</div>