.footer-nav{
    background-color: rgb(131, 180, 225);
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 7px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
}

.extra-links a{
    padding-left: 15px;
    padding-right: 15px;
    color: black;
}